@charset "UTF-8";

.topNavse > li > a em.downArrow,
.dPageCouponsT div span,
.checkbox,
.but_subsame {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.topNavse > li,
.top_nav .top_nav_left,
.top_nav .top_nav_mid,
.mlogin .load_tab li,
.house_list .house_list_nr,
.house_list .house_list_nr .house_img,
.house_list .house_list_nr .house_txt,
.house_list .house_list_nr .house_txt ul li,
.coupon_list .coupon_list_nr .coupon_list_left,
.coupon_list .coupon_list_nr .coupon_list_midd,
.dPageCouponsT dl,
.dPageCouponsT div,
.MoneyDetails,
.navHeadLeft,
.navHeadMid,
.navHeadMid li,
.conInfoMoreDet li,
.conInfoMoreLast ul li,
.onlineHouseHead ul li,
.onLineHouseConHead li,
.onLineHouseConMain .classify,
.onLineHouseConMain .classify div:nth-of-type(1),
.onLineHouseConMain .houseIdCon,
.onLineHouseConMain .houseId li,
.onLineHouseConMainBody .mainBodyL,
.onLineHouseConMainBody .mainBodyR,
.onLineHouseConMainBody .mainBodyR ul,
.fundCouponDetails .fundCouponDetailsL,
.left {
	float: left;
	display: inline;
}

.top_nav .top_nav_right,
.ulNormalRBtn,
.house_list .house_list_nr .house_txt .house_tit em,
.MoneyeyBuy,
.navHeadRight,
.onLineHouseConMain .classify div:nth-of-type(2),
.fundCouponDetails .fundCouponDetailsR,
.secondKill div span,
.right {
	float: right;
	display: inline;
}

.mlogin .load_tab,
.account li {
	*zoom: 1;
}

.mlogin .load_tab:before,
.account li:before,
.mlogin .load_tab:after,
.account li:after {
	content: "";
	display: table;
}

.mlogin .load_tab:after,
.account li:after {
	clear: both;
}

.open_list .open_list_nr .house_name,
.open_list .open_list_nr ul li,
.coupon_list .coupon_list_nr .coupon_list_left,
.coupon_list .coupon_list_nr .coupon_list_midd {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 层级 z-index
// 类名一“,”分隔，比如：a,b,c
// z-index: index($FatherZindex,demo1)
// $FatherZindex  父级类名  $SonZindex  子元素类名
// index()函数,根据其索引值来赋值，依次类推。
*/

/* 圆角矩形 border-radius(eadian)
// 分别对应的弧度大小
*/

/*
// 顶部导航 header_nav
*/

/******************占位符**********************************/

.topNavse,
body,
.bodyIn,
.ulNormalRBtn,
.shangpin_lc .detailsPageBTitle p,
.banner,
.Empoty_cont,
.zhifu,
.filed_Time {
	position: absolute;
}

.top_nav .top_nav_right .top_right:hover,
.submit a,
.mlogin .other_link a,
.account li a:hover,
.MoneyeyBuy a:visited,
.MoneyeyBuy a:hover,
.but_subsame:visited,
.but_subsame:hover,
.ViewResults a:visited,
.ViewResults a:hover,
.topNavse > li > a:visited,
.topNavse > li > a:hover,
.order_list_even li a:visited,
.order_list_even li a:hover,
.inquiry_listev li a:visited,
.inquiry_listev li a:hover {
	text-decoration: none;
}

.PaymentBuy,
.houseing_bounced {
	position: fixed;
}

.MoneyDetails,
.zhifu,
.HouseingDetails dt,
.PaymentDetails,
.PaymentTime,
.houseing_bounced,
.houseing_bounced p,
.Verification_code {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.conBanner,
.conInfoMorePrice em,
.conInfoMoreLast,
.conInfoMoreLast ul li em,
.mainTitle a,
.onlineHouseHead,
.onLineHouseConHead li,
.onLineHouseConHead li div em,
.onLineHouseConHead li select,
.onLineHouseConMain .classify {
	position: relative;
}

.conBannerPage,
.conInfoMorePrice em:before,
.conInfoMoreLast div,
.mainTitle a em,
.onlineHouseHead ul,
.onLineHouseConHead li div,
.onLineHouseConMain .classify span,
.tcAdd {
	position: absolute;
}

.navHead,
.enquiryBtn,
.mask,
.tc1 {
	position: fixed;
}

.swiper-slide a,
.mainTitle a,
.unitShow li a {
	display: block;
}

.navHeadMid ul,
.navHeadMid li a,
.conInfoMorePrice em,
.onlineHouseHead ul a,
.onLineHouseConHead li div em,
.secondKill div em {
	display: inline-block;
}

.HouseingCity {
	position: relative;
}

.PaymentBuy,
.houseing_bounced {
	position: fixed;
}

.topNavse > li > a em.downArrow,
.dPageCouponsT div span,
.checkbox,
.but_subsame {
	display: inline-block;
}

.MoneyDetails,
.zhifu,
.HouseingDetails dt,
.PaymentDetails,
.PaymentTime,
.houseing_bounced,
.houseing_bounced p,
.Verification_code {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.HouseingDetails_list div,
.LeftInquiry {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.spea_top {
	margin-top: 1.17333rem;
}

.bg_bdy {
	background-color: #eeeeee;
}

.topNavse {
	background-color: #fff;
	z-index: 4;
	left: 0;
	top: 1.17333rem;
	right: 0;
}

.topNavse > li {
	height: 1.253333rem;
	position: relative;
}

.topNavse > li:first-child a {
	border-left: none;
}

.topNavse > li > a {
	display: block;
	width: 100%;
	height: 0.506667rem;
	text-align: center;
	line-height: 0.506667rem;
	font-size: 0.37333rem;
	color: #5f646c;
	border-left: 1px solid #dddddd;
	margin-top: 0.373333rem;
}

.topNavse > li > a i {
	font-style: normal;
}

.topNavse > li > a em {
	color: #5f646c;
	margin-left: 0.266667rem;
}

.topNavse > li > a em.downArrow {
	width: 0.266667rem;
	height: 0.266667rem;
	border: solid 1px #dddddd;
	margin: 0 0 0.053333rem 0;
	border-width: 0 0 1px 1px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: relative;
	top: -0.053333rem;
	left: 0.2666rem;
	transition: 0.2s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.topNavse > li > a em.downArrow.rotate {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	top: 0.053333rem;
	left: 0.266667rem;
}

.topNavse > li.on a em.downArrow {
	border-color: #df3031;
}

.topNavse > li.on span {
	position: absolute;
	width: 86%;
	height: 0.053333rem;
	position: absolute;
	left: 7%;
	bottom: 0;
	background-color: #df3031;
}

.topNavse > li.on a {
	color: #df3031;
}

.topNavse > li.on a em {
	color: #df3031;
}

html {
	background: #eee;
}

body {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #eee;
	-webkit-text-size-adjust: none;
	min-width: 320px;
	font: 16px/1.5 'Microsoft Yahei','helvetica','arial' !important;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	-moz-appearance: button;
}

.bodyWhite {
	background-color: #fff;
}

.none {
	display: none;
}

a:hover {
	text-decoration: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-weight: normal;
}

.bodyIn {
	width: 10rem;
	left: 50%;
	top: 0;
	right: 0;
	bottom: 0;
	margin-left: -5rem;
}

/********************* header ***************************/

.top_nav {
	width: 100%;
	height: 1.17333rem;
	line-height: 1.17333rem;
	background: #f9f9f9;
	color: #333;
	font-size: 1.4em;
	position: fixed;
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #ddd;
	top: 0;
	left: 0;
	z-index: 2;
}

.top_nav .top_nav_left {
	width: 1.333333rem;
	height: 1.17333rem;
	overflow: hidden;
}

.top_nav .top_nav_left .top_left {
	position: absolute;
	left: 0.346667rem;
	color: #c33;
	font-size: 1.1em;
}

.top_nav .top_nav_mid {
	width: 7.33rem;
	height: 1.17333rem;
	overflow: hidden;
	font-size: 0.48rem;
	color: #333;
}

.top_nav .top_nav_mid .top_nav_mid_txt_icon {
	text-align: center;
	color: #fff;
}

.top_nav .top_nav_right {
	width: 1.333333rem;
	height: 1.17333rem;
	overflow: hidden;
}

.top_nav .top_nav_right .top_right {
	position: absolute;
	right: 0.346667rem;
	color: #c33;
	font-size: 0.9em;
}

/********************* 登录 ***************************/

.submit,
.mlogin .other_link {
	width: 100%;
	overflow: hidden;
	margin-top: 0.26667rem;
}

.mlogin {
	position: absolute;
	top: 1.44rem;
}

.mlogin {
	width: 100%;
	font-size: 0.4rem;
}

.mlogin .load_tab {
	width: 9.173333rem;
	height: 0.773333rem;
	line-height: 0.773333rem;
	border: 1px solid #c33;
	border-radius: six;
	margin: 0.266667rem auto 0.533333rem;
	color: #c33;
	overflow: hidden;
}

.mlogin .load_tab li {
	width: 50%;
	text-align: center;
}

.mlogin .load_tab li.on {
	background: #c33;
	color: #fff;
}

.mlogin .load {
	width: 100%;
	background: #fff;
	color: #ddd;
	padding: 0.4rem 0.346667rem;
	border-bottom: 1px solid #ddd;
	display: -webkit-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	position: relative;
}

.mlogin .load .label {
	width: 1.4rem;
	font-size: 1em;
	color: #666;
}

.mlogin .load .load_conturl {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
}

.mlogin .load .load_conturl input {
	-webkit-appearance: none;
	width: 100%;
	padding: 0;
	font-size: 1em;
	border: 0;
	background-color: transparent;
}

.submit a {
	width: 9.2rem;
	height: 1.17333rem;
	line-height: 1.17333rem;
	text-align: center;
	font-size: 1.2em;
	border: none;
	display: block;
	border-radius: four;
	background: #c33;
	color: #fff;
	margin: 0 auto;
}

.mlogin .other_link a {
	color: #c33;
	text-align: right;
	padding-right: 0.4rem;
	display: block;
	font-size: 1.1em;
}

.ulNormalRBtn {
	width: 2.266667rem;
	height: 0.746667rem;
	border: solid 1px #c33;
	border-radius: 0.066667rem;
	background: none;
	font-size: 0.34667rem;
	color: #c33;
	top: 0.28667rem;
	right: 0.4rem;
}

.ulNormalRBtn.on {
	background-color: #999;
	border: none;
	color: #fff;
}

.search_box {
	margin: 0.3rem 0.4rem;
	overflow: hidden;
}

.search_box .search_input {
	display: block;
	width: 9.2rem;
	height: 28px;
	line-height: 28px;
	padding: 4px 0;
	font-size: 0.37333rem;
	color: #999;
	border: none;
	background: #fff url(../images/searchicon.png) no-repeat 5px center;
	background-size: 10px 10px;
	text-indent: 0.6rem;
	border-radius: four;
}

.mt_content {
	width: 100%;
	position: absolute;
	top: 1.17333rem;
	bottom: 0;
	overflow: auto;
	overflow-x: hidden;
}

/********************* 房源列表 ***************************/

.house_list {
	width: 100%;
	overflow: hidden;
	background: #fff;
	margin-top: 0.26667rem;
}

.house_list .house_list_nr {
	width: 100%;
	padding: 0.266667rem 0.4rem;
}

.house_list .house_list_nr .house_img {
	width: 3.093333rem;
	height: 2.053333rem;
}

.house_list .house_list_nr .house_img img {
	width: 100%;
	height: auto;
	border: solid 1px #ddd;
}

.house_list .house_list_nr .house_txt {
	width: 63%;
	margin-top: 0.26667rem;
	margin-left: 0.26667rem;
}

.house_list .house_list_nr .house_txt .house_tit {
	width: 100%;
	overflow: hidden;
	font-size: 0.453333rem;
	color: #666;
	line-height: 0.48rem;
}

.house_list .house_list_nr .house_txt .house_tit em {
	color: #c33;
	font-size: 0.373333rem;
	line-height: 0.48rem;
	display: inline-block;
}

.house_list .house_list_nr .house_txt ul {
	width: 100%;
	margin-top: 0.66667rem;
}

.house_list .house_list_nr .house_txt ul li {
	margin-right: 0.14rem;
	border: solid 1px #ddd;
	padding: 0.026667rem 0.053333rem;
	text-align: center;
	font-size: 0.293333rem;
	color: #999;
}

.house_list .house_list_nr .house_txt ul li:last-of-type {
	margin-right: 0;
}

/********************* 开盘列表 ***************************/

.open_list .open_list_nr ul li {
	font-size: 0.37333rem;
	line-height: 0.56rem;
}

.open_list {
	width: 100%;
	margin-top: 0.26667rem;
	background: #fff;
	overflow: hidden;
	position: relative;
}

.open_list .open_list_nr {
	padding: 0.4rem 0.453333rem;
}

.open_list .open_list_nr .house_name {
	margin-bottom: 0.346667rem;
	font-size: 0.42667rem;
	line-height: 0.45333rem;
	color: #333;
}

.open_list .open_list_nr .house_name em {
	color: #ff9933;
}

.open_list .open_list_nr ul {
	width: 100%;
}

.open_list .open_list_nr ul::after {
	content: '';
	display: inline-block;
	width: 0.32rem;
	height: 0.32rem;
	border: solid 1px #5f646c;
	border-width: 0 0 1px 1px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	position: absolute;
	top: 50%;
	right: 0.4rem;
	margin-top: -0.16rem;
}

.open_list .open_list_nr ul li:nth-child(1) {
	color: #999;
}

.open_list .open_list_nr ul li:nth-child(1) em {
	margin-right: 0.26667rem;
}

.open_list .open_list_nr ul li:nth-child(2) {
	color: #666;
}

.open_list .open_list_nr ul li:nth-child(3) {
	color: #666;
}

.open_list .open_list_nr ul li:nth-child(3) em {
	color: #c33;
	margin: 0 0.066667rem;
}

.open_list .open_list_nr .list_icon {
	height: 0.64rem;
	position: absolute;
	right: 0;
	bottom: 0.26667rem;
}

.open_list .open_list_nr .list_icon span {
	width: 0.64rem;
	height: 0.64rem;
	border-radius: 50%;
	float: left;
	margin-right: -0.32rem;
}

.open_list .open_list_nr .list_icon p {
	padding: 0 0.066667rem;
	font-size: 0.32rem;
	line-height: 0.64rem;
	text-align: center;
	color: #fff;
	float: left;
}

.open_list .open_list_nr .on_a {
	background: #ccc;
}

.open_list .open_list_nr .on_b {
	background: #ff9933;
}

.open_list .open_list_nr .on_c {
	background: #f66;
}

/********************* 我的账户 ***************************/

.account {
	width: 100%;
	margin-top: 0.26667rem;
	padding-left: 0.4rem;
	background: #fff;
}

.account li {
	font-size: 0.426667rem;
	color: #666;
	height: 1.28rem;
	line-height: 1.28rem;
	border-bottom: solid 1px #ddd;
	position: relative;
}

.account li::after {
	content: '';
	display: inline-block;
	width: 0.32rem;
	height: 0.32rem;
	border: solid 1px #999;
	border-width: 0 0 1px 1px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	position: absolute;
	top: 50%;
	right: 0.4rem;
	margin-top: -0.16rem;
}

.account li a {
	width: 100%;
	display: block;
	color: #666;
}

.account li:last-child {
	border-bottom: none;
}

/********************* 房票列表 ***************************/

.coupon_list {
	width: 100%;
	overflow: hidden;
	margin-top: 0.26667rem;
	background: #fff;
	position: relative;
}

.coupon_list .coupon_list_nr {
	padding: 0.533333rem 0.4rem;
	float: left;
}

.coupon_list .coupon_list_nr .coupon_list_left {
	width: 3.066667rem;
}

.coupon_list .coupon_list_nr .coupon_list_left p {
	color: #f66;
	font-size: 0.666667rem;
	line-height: 0.72rem;
	margin-bottom: 0.433rem;
}

.coupon_list .coupon_list_nr .coupon_list_left p em {
	font-size: 0.373333rem;
	vertical-align: 2px;
}

.coupon_list .coupon_list_nr .coupon_list_left span {
	font-size: 0.293333rem;
	line-height: 0.293333rem;
	color: #666;
}

.coupon_list .coupon_list_nr .coupon_list_midd {
	width: 4.053333rem;
	margin-top: 0.06rem;
}

.coupon_list .coupon_list_nr .coupon_list_midd p {
	font-size: 0.373333rem;
	color: #666;
	line-height: 0.53333rem;
	margin-bottom: 0.346667rem;
}

.coupon_list .coupon_list_nr .coupon_list_midd em {
	display: block;
	font-size: 0.293333rem;
	color: #999;
	line-height: 0.50667rem;
}

.coupon_list .coupon_list_nr .coupon_list_right {
	font-size: 0.346667rem;
	position: absolute;
	top: 50%;
	right: 0.7rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #999;
}

.coupon_list .coupon_list_nr .coupon_list_right.zhifu {
	color: #f66;
	padding: 0;
	background-color: transparent;
	width: auto;
}

.coupon_list .coupon_list_nr .coupon_list_right.tuikuan {
	color: #ff9933;
	right: 0.4rem;
}

.coupon_list .zhifu_icon::after {
	content: '';
	display: inline-block;
	width: 0.32rem;
	height: 0.32rem;
	border: solid 1px #999;
	border-width: 0 0 1px 1px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	position: absolute;
	top: 50%;
	right: 0.4rem;
	margin-top: -0.16rem;
}

/********************* 商品详情 ***************************/

.detailsPageT {
	padding: 0.8rem 0.4rem;
}

.detailsPageT.haveRefund {
	padding-bottom: 0.4rem;
}

.dPageCoupons {
	background-color: #fff;
	border-radius: six;
	overflow: hidden;
}

.dPageCouponsT {
	border-top: 0.13333rem solid #c33;
	padding: 0.333333rem 0.4rem;
}

.dPageCouponsT dl,
.dPageCouponsT div {
	height: 1.333333rem;
}

.dPageCouponsT div {
	line-height: 1.333333rem;
	width: 55%;
}

.dPageCouponsT div:after {
	content: '';
	vertical-align: middle;
}

.dPageCouponsT div span {
	color: #666;
	font-size: 0.4rem;
	vertical-align: middle;
	line-height: 0.666667rem;
}

.dPageCouponsT dl {
	color: #c33;
	width: 45%;
	line-height: 0.666667rem;
}

.dPageCouponsT dl dt {
	font-size: 0.37333rem;
}

.dPageCouponsT dl dt em {
	font-size: 0.64rem;
	margin-left: 0.133333rem;
}

.dPageCouponsT dl dd {
	font-size: 0.29333rem;
}

.dPageCouponsB {
	padding: 0 0.4rem;
	height: 1.013333rem;
	line-height: 1.013333rem;
	border-top: 0.10667rem dotted #ddd;
	font-size: 0.32rem;
	color: #999;
}

.dPageCouponsB em {
	margin-left: 0.066667rem;
}

.shangpin_lc {
	width: 100%;
	background: #fff;
	padding: 0.56rem 0 1.2rem 0;
	float: left;
}

.shangpin_lc .detailsPageBTitle {
	width: 9.2rem;
	margin: 0 auto;
	height: 1px;
	background-color: #ccc;
	position: relative;
	margin-bottom: 0.266667rem;
}

.shangpin_lc .detailsPageBTitle p {
	height: 0.613333rem;
	line-height: 0.613333rem;
	font-size: 0.29333rem;
	color: #999;
	background-color: #fff;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 0 0.533333rem;
}

.shangpin_lc .lc_img {
	margin: 0.506667rem 0;
}

.shangpin_lc .lc_img img {
	width: 100%;
	height: auto;
}

.shangpin_lc .detailsImg {
	margin-top: 0.4rem;
}

.shangpin_lc .detailsImg p {
	padding: 0 0.4rem;
	font-size: 0.37333rem;
	color: #666;
	height: 0.613333rem;
	line-height: 0.613333rem;
}

.shangpin_lc .detailsImg img {
	width: 100%;
	float: left;
}

.shangpin_lc .detailsImg .no_img {
	margin-top: 0.26667rem;
}

.specialPro {
	width: 100%;
	height: 1.333333rem;
	line-height: 1.333333rem;
	background: #eee;
	padding-left: 0.4rem;
	font-size: 0.34667rem;
	color: #999;
}

.specialPro .protocol {
	display: inline;
	background: none;
	font-size: 0.34667rem;
	color: #ff9933;
}

.checkbox {
	width: 0.4rem;
	height: 0.4rem;
	border: 1px solid #ccc;
	border-radius: 0.066667rem;
	position: relative;
	top: 0.06rem;
	margin-right: 0.133333rem;
}

.uncheck {
	background-image: url("../images/agreeIcon.png");
	background-repeat: no-repeat;
	background-size: 0.28rem 0.24rem;
	background-position: center center;
}

.PaymentBuy {
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 5;
	line-height: 1.173333rem;
	text-align: center;
	background-color: #fff;
}

.PaymentBuy.gry {
	background-color: #9c9c9c;
	color: #fff;
	font-size: 0.42667rem;
}

.PaymentBuy.red {
	background-color: #df3031;
	color: #fff;
	font-size: 0.42667rem;
}

.MoneyDetails {
	width: 7rem;
	padding-left: 0.333333rem;
	line-height: 1.173333rem;
	font-size: 0.48rem;
	color: #5f646c;
	text-align: left;
	font-weight: bold;
}

.MoneyDetails span {
	display: inline-block;
	line-height: 1.173333rem;
	color: #df3031;
	margin-left: 0.2rem;
}

.MoneyDetails span em {
	font-size: 0.37333rem;
	vertical-align: 1px;
}

.MoneyeyBuy {
	width: 3rem;
	line-height: 1.173333rem;
}

.MoneyeyBuy a {
	display: block;
	background-color: #df3031;
	color: #fff;
	font-size: 0.42667rem;
	text-align: center;
}

/*****楼盘详情头部begin******/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}

.main {
	width: 10rem;
	margin: 0 auto;
}

.navHead {
	width: 10rem;
	height: 1.17333rem;
	line-height: 1.17333rem;
	background-color: #fff;
	left: 50%;
	margin-left: -5rem;
	top: 0;
	z-index: 5;
	border-bottom: 1px solid #ddd;
}

.navHeadLeft {
	width: 1.333333rem;
	height: 1.17333rem;
	line-height: 1.17333rem;
	text-align: center;
	color: #999;
	font-size: 0.48rem;
}

.navHeadRight {
	width: 1.333333rem;
	height: 1.17333rem;
	line-height: 1.17333rem;
	text-align: center;
	color: #c33;
	font-size: 0.58667rem;
}

.navHeadMid {
	width: 7.33333rem;
	height: 100%;
	text-align: center;
}

.navHeadMid ul {
	height: 100%;
}

.navHeadMid li {
	height: 100%;
	margin: 0 0.2rem;
}

.navHeadMid li a {
	height: 1.17333rem;
	line-height: 1.17333rem;
	font-size: 0.4rem;
	color: #999;
	padding: 0 0.2rem;
	box-sizing: border-box;
}

.navHeadMid li.on {
	border-bottom: 0.06667rem solid #c33;
}

.navHeadMid li.on a {
	color: #c33;
}

/*****楼盘详情头部end******/

/*****楼盘详情内容begin******/

.allCon {
	margin-top: 1.17333rem;
}

.conBanner {
	/*banner*/
}

.swiper-slide {
	height: 6.666667rem;
}

.swiper-slide a {
	text-align: center;
}

.swiper-slide img {
	height: 100%;
}

.conBannerPage {
	right: 0.26667rem;
	bottom: 0.37333rem;
	height: 0.53333rem;
	line-height: 0.53333rem;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0 0.16rem;
	z-index: 1;
	color: #fff;
	font-size: 0.34667rem;
	border-radius: 0.26667rem;
}

.conInfo {
	/*info*/
	background-color: #fff;
}

.conInfoTitle {
	height: 1.54667rem;
	line-height: 1.54667rem;
	padding-right: 0.333333rem;
	margin-left: 0.333333rem;
	font-size: 0.53333rem;
	color: #000;
	border-bottom: 1px solid #ccc;
}

.conInfoTitle span {
	font-size: 0.37333rem;
	color: #999;
	margin-left: 0.32rem;
}

.conInfoMore {
	padding: 0.53333rem 0.33333rem;
}

.conInfoMorePrice {
	height: 0.48rem;
	line-height: 0.48rem;
	font-size: 0.48rem;
	color: #c33;
}

.conInfoMorePrice em {
	height: 0.48rem;
	line-height: 0.48rem;
	font-size: 0.32rem;
	color: #fff;
	background-color: #f93;
	padding: 0 0.106667rem;
	top: -0.026667rem;
	margin-left: 0.613333rem;
}

.conInfoMorePrice em:before {
	content: "";
	width: 0;
	height: 0;
	border: 0.25333rem solid transparent;
	border-right-color: #f93;
	left: -0.50667rem;
	top: -0.013333rem;
}

.conInfoMoreDet {
	height: 1.06667rem;
	line-height: 1.06667rem;
	font-size: 0.32rem;
	color: #999;
}

.conInfoMoreDet li {
	width: 33.33333%;
	text-align: center;
}

.conInfoMoreDet li:first-of-type {
	text-align: left;
}

.conInfoMoreDet li:last-of-type {
	text-align: right;
}

.conInfoMoreLast {
	padding: 0 0.4rem;
	background-color: #eee;
	height: 1.30667rem;
	line-height: 1.30667rem;
}

.conInfoMoreLast ul li {
	font-size: 0.32rem;
	color: #666;
	margin-right: 0.48rem;
}

.conInfoMoreLast ul li em {
	font-size: 0.37333rem;
	color: #f93;
	margin-right: 0.133333rem;
	top: 0.026667rem;
}

.conInfoMoreLast div {
	width: 1.333333rem;
	text-align: center;
	height: 1.04rem;
	line-height: 1.04rem;
	font-size: 0.426667rem;
	color: #999;
	right: 0;
	top: 0;
	padding-bottom: 0.266667rem;
	box-sizing: content-box;
}

.mt20 {
	margin-top: 0.266667rem;
	background-color: #fff;
}

.mainUnit {
	/*主力户型*/
}

.mainTitle a {
	height: 1.46667rem;
	line-height: 1.46667rem;
	margin-left: 0.333333rem;
	padding-right: 0.333333rem;
	font-size: 0.4rem;
	color: #666;
	border-bottom: 1px solid #ddd;
}

.mainTitle a em {
	right: 0.333333rem;
	top: 0;
	font-size: 0.32rem;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.unitShow {
	overflow: hidden;
	margin-left: 0.333333rem;
	padding: 0.533333rem 0 0;
}

.unitShow li {
	float: left;
	margin-right: 0.51rem;
}

.unitShow li a div {
	width: 2.386667rem;
	height: 3.2rem;
	padding: 0.4rem 0.13333rem;
	border: 1px solid #ddd;
	box-sizing: content-box;
}

.unitShow li a div img {
	width: 100%;
	height: 100%;
}

.unitShow li dl {
	text-align: center;
	line-height: 0.56rem;
	margin-top: 0.266667rem;
}

.unitShow li dt {
	font-size: 0.42667rem;
	color: #333;
}

.unitShow li dd {
	font-size: 0.32rem;
	color: #666;
}

.unitShow li dd.small {
	font-size: 0.266667rem;
}

.onlineHouse {
	/*在线选房*/
	padding-left: 0.333333rem;
	padding-bottom: 0.533333rem;
}

.onlineHouseHead {
	height: 1.46667rem;
	line-height: 1.46667rem;
	font-size: 0.4rem;
	color: #666;
}

.onlineHouseHead ul {
	right: 0.333333rem;
	top: 0.466667rem;
}

.onlineHouseHead ul li {
	width: 0.933333rem;
	height: 0.53333rem;
	line-height: 0.53333rem;
	border-radius: 0.133333rem;
	margin-left: 0.266667rem;
}

.onlineHouseHead ul li:nth-of-type(1) {
	background-color: #f66;
}

.onlineHouseHead ul li:nth-of-type(2) {
	background-color: #9c3;
}

.onlineHouseHead ul li:nth-of-type(3) {
	background-color: #ccc;
}

.onlineHouseHead ul li:nth-of-type(3) a {
	color: #999;
}

.onlineHouseHead ul li:last-of-type {
	border: 1px solid #ccc;
}

.onlineHouseHead ul li:last-of-type a {
	color: #999;
}

.onlineHouseHead ul a {
	width: 0.933333rem;
	height: 0.533333rem;
	font-size: 0.29333rem;
	text-align: Center;
	color: #fff;
}

.onLineHouseCon {
	border: 1px solid #ccc;
	border-right: none;
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
	overflow: hidden;
}

.onLineHouseConHead li {
	width: 50%;
	height: 1.333333rem;
}

.onLineHouseConHead li div {
	width: 100%;
	height: 0.533333rem;
	padding: 0.4rem 0;
	box-sizing: content-box;
	left: 0;
	text-align: center;
	z-index: 0;
	border-right: 1px solid #ccc;
	font-size: 0.4rem;
	color: #999;
}

.onLineHouseConHead li div em {
	width: 0;
	height: 0;
	border: 0.18667rem solid transparent;
	border-top-color: #ccc;
	top: 0.133333rem;
	margin-left: 0.133333rem;
}

.onLineHouseConHead li div em.rotate {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.onLineHouseConHead li select {
	width: 100%;
	height: 100%;
	z-index: 1;
	border-color: transparent;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: transparent;
}

.onLineHouseConMain {
	overflow: hidden;
}

.onLineHouseConMainTop {
	min-width: 13.333333rem;
	color: #999;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
}

.onLineHouseConMain .classify {
	width: 2.0rem;
	height: 2.133333rem;
	border-right: 1px solid #ccc;
	background-color: #eee;
}

.onLineHouseConMain .classify span {
	width: 1.666667rem;
	height: 1px;
	background-color: #ccc;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 50%;
	left: 0.133333rem;
}

.onLineHouseConMain .classify div {
	width: 60%;
	height: 1.06667rem;
	line-height: 1.06667rem;
	text-align: center;
	font-size: 0.37333rem;
}

.onLineHouseConMain .houseIdCon {
	width: 7.666667rem;
}

.onLineHouseConMain .houseId {
	width: 26.666667rem;
}

.onLineHouseConMain .houseId ul:first-of-type {
	border-bottom: 1px solid #ccc;
}

.onLineHouseConMain .houseId li {
	width: 2.0rem;
	height: 1.06667rem;
	line-height: 1.06667rem;
	text-align: center;
	border-right: 1px solid #ccc;
}

.onLineHouseConMainBody {
	max-height: 6.4rem;
	overflow: hidden;
	min-width: 26.666667rem;
}

.onLineHouseConMainBody .mainBodyL {
	width: 2.0rem;
	border-right: 1px solid #ccc;
}

.onLineHouseConMainBody .mainBodyL li {
	height: 1.06667rem;
	line-height: 1.06667rem;
	text-align: center;
	border-bottom: 1px solid #ccc;
	font-size: 0.37333rem;
	color: #999;
}

.onLineHouseConMainBody .mainBodyL li:last-of-type {
	border-bottom: none;
}

.onLineHouseConMainBody .mainBodyR {
	border-right: 1px solid #000;
	overflow: hidden;
	margin-left: 0;
	width: 7.666667rem;
}

.onLineHouseConMainBody .mainBodyR ul {
	width: 2.0rem;
	text-align: Center;
}

.onLineHouseConMainBody .mainBodyR ul li {
	height: 1.06667rem;
	line-height: 1.06667rem;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 0.37333rem;
	color: #999;
}

.onLineHouseConMainBody .mainBodyR ul li.ys {
	background-color: #f66;
	color: #fff;
}

.onLineHouseConMainBody .mainBodyR ul li.zs {
	background-color: #9c3;
	color: #fff;
}

.onLineHouseConMainBody .mainBodyR ul li.sd {
	background-color: #ccc;
}

.fundCoupon {
	/*房票*/
}

.fundCouponDetails {
	padding: 0.533333rem 0.333333rem;
}

.fundCouponDetails li a {
	display: block;
	height: 2.44rem;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left: none;
	border-radius: 0.26667rem;
	overflow: hidden;
	position: relative;
}

.fundCouponDetails .fundCouponDetailsL {
	width: 2.586667rem;
	box-sizing: border-box;
	border-left: 0.13333rem solid #c33;
	height: 2.44rem;
	text-align: center;
	padding: 0.2rem 0;
	color: #c33;
}

.fundCouponDetails .fundCouponDetailsL dl dt {
	font-size: 0.64rem;
	line-height: 0.76rem;
}

.fundCouponDetails .fundCouponDetailsL dl dt em {
	font-size: 0.37333rem;
	margin-right: 0.2rem;
}

.fundCouponDetails .fundCouponDetailsL dl dd {
	font-size: 0.29333rem;
	line-height: 0.4rem;
}

.fundCouponDetails .fundCouponDetailsL dl dd em {
	font-size: 0.32rem;
}

.fundCouponDetails .fundCouponDetailsL div {
	font-size: 0.29333rem;
	color: #999;
	line-height: 0.8rem;
}

.fundCouponDetails .fundCouponDetailsR {
	width: 6rem;
	height: 2.44rem;
	box-sizing: border-box;
	border-left: 0.10667rem dotted #f0f0f0;
	padding: 0.2rem 0.4rem;
}

.fundCouponDetails .fundCouponDetailsR dt {
	font-size: 0.4rem;
	color: #5f646c;
	line-height: 0.76rem;
}

.fundCouponDetails .fundCouponDetailsR dd {
	font-size: 0.32rem;
	color: #999;
	line-height: 0.61333rem;
}

.secondKill {
	/*网上开盘*/
	padding: 0.533333rem 0.333333rem;
}

.secondKill dl dt {
	font-size: 0.4rem;
	color: #000;
}

.secondKill dl dd {
	font-size: 0.37333rem;
	color: #999;
	margin-top: 0.133333rem;
}

.secondKill div {
	height: 0.58667rem;
	line-height: 0.58667rem;
	margin-top: 0.133333rem;
	font-size: 0.37333rem;
	color: #999;
}

.secondKill div em {
	width: 0.586667rem;
	height: 0.586667rem;
	border-radius: 0.133333rem;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	color: #fff;
	margin-left: 0.133333rem;
	margin-right: 0.066667rem;
}

.secondKill div em:first-of-type {
	margin-left: 0;
}

.mb98 {
	margin-bottom: 1.306667rem;
}

.imgText {
	/*描述*/
}

.imgText img {
	width: 100%;
}

.enquiryBtn {
	/*询价按钮*/
	left: 50%;
	margin-left: -5rem;
	bottom: 0;
	z-index: 5;
	width: 10rem;
	background-color: #c33;
	height: 1.30667rem;
	line-height: 1.30667rem;
	text-align: center;
}

.enquiryBtn a {
	font-size: 0.4rem;
	color: #fff;
}

.mask {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.tcAdd {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.tc1 {
	width: 100%;
	height: 4.0rem;
	bottom: 0;
	left: 0;
	z-index: 11;
	background-color: #fff;
}

/*****楼盘详情内容end******/

/*banner开始*/

.banner {
	width: 100%;
	top: 1.17333rem;
}

.big_cont {
	width: 100%;
	height: 6.666667rem !important;
}

.big_wrapper {
	min-height: 6.666667rem !important;
}

.big_silde {
	text-align: center;
	left: 0;
	top: 0;
	min-height: 8.0rem !important;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.swiper-container-horizontal > .swiper-pagination {
	width: 100%;
	left: 0;
	bottom: 0.266667rem;
}

.swiper-pagination-bullet {
	width: 0.2rem !important;
	height: 0.2rem !important;
	border: 1px solid red;
	background: #5f646c !important;
}

.swiper-pagination-bullet-active {
	background: #df3031 !important;
	opacity: 1;
}

.ban_img {
	display: block;
	width: 100%;
	height: 100%;
}

.ban_img img {
	width: 100%;
}

/*banner结束*/

.by_main {
	width: 94%;
	margin: 0 auto;
}

.lp_title {
	height: 1.306667rem;
	line-height: 1.306667rem;
	font-size: 0.48rem;
}

.lp_xxlist {
	height: 0.48rem;
	line-height: 0.48rem;
	font-size: 0.373333rem;
	color: #b3b6be;
	width: 50%;
	float: left;
}

.lp_xxlist em {
	display: inline-block;
	color: #5f646c;
}

.btm_btn {
	height: 1.173333rem;
	line-height: 1.173333rem;
	font-size: 0.426667rem;
	color: #fff;
	background-color: #df3031;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/*户型列表无数据*/

.wushuju_img {
	text-align: center;
	margin-top: 3.466667rem;
	height: 2.693333rem;
}

.wushuju {
	text-align: center;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.666667rem;
	color: #dddddd;
	margin-top: 0.533333rem;
}

.peo_icon {
	font-size: 0.48rem !important;
}

.Empoty_cont {
	top: 1.17333rem;
	width: 100%;
}

.zhifu {
	padding: 1.25rem 0;
	background-color: #ffffff;
	top: 1.17333rem;
	width: 100%;
}

.zhifu h3 {
	height: 0.9375rem;
	line-height: 0.9375rem;
	font-size: 0.48rem;
	color: #df3031;
	text-align: center;
	width: 100%;
	left: 0;
}

.zhifu h3 img {
	height: 0.875rem;
	width: 0.875rem;
	margin-right: 0.3125rem;
	vertical-align: -0.266667rem;
}

.zhifu p {
	line-height: 0.9375rem;
	width: 80%;
	margin: 0.78125rem auto 0;
	font-size: 0.48rem;
	color: #5f646c;
	text-align: center;
}

.HouseingCity {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background-color: #eeeeee;
	width: 100%;
	padding-bottom: 1.17333rem;
}

.HouseingCity_pic {
	width: 100%;
}

.HouseingCity_pic a {
	display: block;
	width: 100%;
	height: 6.666667rem;
	overflow: hidden;
}

.HouseingCity_pic a img {
	width: 100%;
}

.HouseingDetails {
	width: 100%;
	background-color: #fff;
}

.HouseingDetails dt {
	margin-left: 0.333333rem;
	line-height: 1.306667rem;
	border-bottom: 1px solid #dddddd;
	color: #5f646c;
	font-size: 0.48rem;
	font-weight: bold;
}

.HouseingDetails dd {
	padding: 0.2rem 0.333333rem;
	overflow: hidden;
}

.HouseingDetails_list {
	line-height: 0.8rem;
	overflow: hidden;
}

.HouseingDetails_list div {
	width: 50%;
}

.HouseingDetails_list div span {
	color: #b3b6be;
	font-size: 0.37333rem;
}

.HouseingDetails_list div em {
	color: #5f646c;
	font-size: 0.37333rem;
}

.PaymentDetails {
	background-color: #eeeeee;
	min-height: 3.84rem;
	padding: 0.266667rem 0.333333rem;
}

.PaymentDetails p {
	color: #999999;
	font-size: 0.32rem;
}

.PaymentDetails p span {
	color: #ff9933;
	font-size: 0.32rem;
}

.PaymentBuy {
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 5;
	line-height: 1.173333rem;
	text-align: center;
	background-color: #fff;
}

.PaymentBuy.gry {
	background-color: #9c9c9c;
	color: #fff;
	font-size: 0.42667rem;
}

.PaymentBuy.red {
	background-color: #df3031;
	color: #fff;
	font-size: 0.42667rem;
}

.MoneyDetails {
	width: 6.9rem;
	padding-left: 0.333333rem;
	line-height: 1.173333rem;
	font-size: 0.48rem;
	color: #5f646c;
	text-align: left;
	font-weight: bold;
}

.MoneyDetails span {
	display: inline-block;
	line-height: 1.173333rem;
	color: #df3031;
	margin-left: 0.2rem;
}

.MoneyeyBuy {
	width: 3rem;
	line-height: 1.173333rem;
}

.MoneyeyBuy a {
	display: block;
	background-color: #df3031;
	color: #fff;
	font-size: 0.42667rem;
	text-align: center;
}

.PaymentTime {
	color: #5f646c;
	font-size: 0.37333rem;
	line-height: 0.56rem;
	position: fixed;
	bottom: 1.373333rem;
	z-index: 5;
	padding: 0 0.333333rem;
	background: #eeeeee;
}

.PaymentTime .time_pic {
	display: inline-block;
	margin-right: 0.2rem;
	font-weight: normal;
	font-size: 0.50667rem;
	color: #73777e;
	position: relative;
	top: 0.106667rem;
}

.PaymentTime em {
	display: inline-block;
	color: #5f646c;
	font-size: 0.29333rem;
	margin-left: 0.106667rem;
}

.PaymentTime em i {
	display: inline-block;
	border-radius: 0.08rem;
	background-color: #4c4c4c;
	color: #fff;
	font-size: 0.37333rem;
	padding: 0 0.106667rem;
	font-style: normal;
	margin-right: 0.08rem;
}

.houseing_bounced {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: #fff;
	width: 8.053333rem;
	border-radius: 0.2rem;
	padding-top: 0.466667rem;
}

.houseing_bounced p {
	padding: 0 0.4rem;
	line-height: 0.746667rem;
	color: #5f646c;
	font-size: 0.42667rem;
}

.Verification_code {
	padding: 0 0.4rem;
	margin-top: 0.4rem;
}

.Verification_code label {
	margin-right: 0.32rem;
	display: inline-block;
	color: #5f646c;
	font-size: 0.42667rem;
}

.Verification_code input {
	width: 2.8rem;
	height: 0.906667rem;
	border: 1px solid #dddddd;
	margin-right: 0.24rem;
	background: none;
	color: #5f646c;
	font-size: 0.42667rem;
}

.Verification_code img {
	width: 2.16rem;
	vertical-align: bottom;
}

.but_sub {
	margin-top: 0.533333rem;
	width: 100%;
	line-height: 1.333333rem;
	border-top: 1px solid #dddddd;
	overflow: hidden;
}

.but_subsame {
	width: 50%;
	font-size: 0.42667rem;
	text-align: center;
}

.bor_rig {
	border-right: 1px solid #dddddd;
}

.but_gry {
	color: #999999;
}

.but_gry:visited {
	color: #999999;
}

.but_gry:hover {
	color: #999999;
}

.but_red {
	color: #df3031;
}

.but_red:visited {
	color: #df3031;
}

.but_red:hover {
	color: #df3031;
}

.filed_Time {
	height: 0.93333rem;
	line-height: 0.93333rem;
	width: 100%;
	top: 1.17333rem;
	z-index: 1;
	text-align: center;
	font-size: 0.37333rem;
	background: rgba(95, 95, 95, 0.6);
}

.filed_Time p {
	color: #fff;
}

.filed_Time p span {
	color: #ff9933;
}

.filed_Time.filed_Time_gry {
	background: rgba(214, 214, 214, 0.6);
}

.filed_Time.filed_Time_gry p {
	color: #e4e3e3;
}

.ViewResults {
	width: 100%;
	border-top: 1px solid #dddddd;
}

.ViewResults a {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 1.066667rem;
	color: #5f646c;
	font-size: 0.4rem;
}

.ViewResults a:visited {
	color: #5f646c;
}

.ViewResults a:hover {
	color: #5f646c;
}

.topNavse {
	position: fixed;
	z-index: 6;
	border-bottom: 1px solid #ddd;
}

.topNavse > li {
	width: 25%;
}

.order_list,
.Inquiry_list {
	position: absolute;
	top: 2.426667rem;
	left: 0;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
	z-index: 1;
}

.order_list_even {
	width: 100%;
	background-color: #eeeeee;
}

.order_list_even li {
	background-color: #fff;
	padding: 0.226667rem 0.4rem;
	margin-top: 0.266667rem;
}

.order_list_even li a {
	display: block;
	width: 100%;
	position: relative;
}

.order_list_even li a div {
	overflow: hidden;
}

.top_list {
	width: 100%;
	line-height: 0.8rem;
}

.mid_list {
	width: 100%;
	line-height: 0.666667rem;
}

.bottom_list {
	width: 100%;
	line-height: 0.666667rem;
}

.pic_icr {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: rotate(180deg) translateY(50%);
	transform: rotate(180deg) translateY(50%);
	color: #ccc;
	font-size: 0.42667rem;
}

.spn_bigB {
	font-size: 0.42667rem;
	color: #3d4245;
}

.span_bigR {
	font-size: 0.42667rem;
	color: #ff6666;
	margin-right: 0.533333rem;
}

.span_smlG {
	font-size: 0.37333rem;
	color: #999999;
}

.span_smlGk {
	font-size: 0.37333rem;
	color: #5f646c;
}

.span_smlGk.mr30 {
	margin-right: 0.533333rem;
}

.span_smlR {
	font-size: 0.37333rem;
	color: #ff6666;
}

.span_smlGss {
	font-size: 0.29333rem;
	color: #999999;
}

.span_smlGss.mr24 {
	margin-right: 0.32rem;
}

.inquiry_listev {
	width: 100%;
	background-color: #eeeeee;
}

.inquiry_listev li {
	background-color: #fff;
	padding: 0.226667rem 0.4rem;
	margin-top: 0.266667rem;
}

.inquiry_listev li a {
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.LeftInquiry {
	width: 72%;
}

.Inquiry_toplist {
	line-height: 0.8rem;
	width: 100%;
}

.Inquiry_botlist {
	line-height: 0.666667rem;
	width: 100%;
}

.RightInquiry {
	width: 28%;
	top: 50%;
	position: absolute;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.RightInquiry p {
	line-height: 0.533333rem;
}

.requst_mese {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.requst_mese p i {
	color: #ccc;
	font-size: 0.42667rem;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	display: inline-block;
}

.Inquiry_list {
	top: 1.17333rem;
}